* {
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  font-family: quicksand, sans-serif;
  justify-content: center;
}

header h1 {
  margin-left: 20px;
}

.logo {
  width: 13vw;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: quicksand, sans-serif;
}
.nav-link,
.current {
  text-decoration: none;
  padding: 2%;
  font-size: 1.5vw;
  color: black;
}

.current {
  color: rgb(163, 7, 72);
}

main {
  display: flex;
  width: 80%;
  margin: auto;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.galleri-objekt {
  width: 30%;
  margin: 30px 10px;
  text-align: center;
}
.galleri-bild {
  width: 100%;
}

.galleri-objekt:hover,
.insp-object:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
}

footer {
  background-color: rgba(0, 0, 0, 0.083);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  font-size: 1rem;
  width: 100%;
}

a:active {
  color: pink;
}

/*Inspiration page*/
.insp-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.insp-object {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: max-content;
  width: 40%;
  margin: 20px;
  object-fit: cover;
}

.insp-descr {
  border: 1px rgb(165, 165, 165) solid;
  padding: 10px;
  font-family: quicksand, sans-serif;
}

.insp-descr p {
  font-size: 1.5rem;
}
.insp-descr a {
  text-decoration: none;
  color: black;
}

.insp-descr a:hover {
  text-decoration: underline;
}

.heading {
  text-align: center;
  font-family: quicksand, sans-serif;
  font-size: 3rem;
  font-weight: 300;
  margin: 0;
}

/*About Page*/

@media screen and (max-width: 600px) {
  .galleri-objekt,
  .projekt-container {
    width: 70%;
    font-size: 9px;
    letter-spacing: 0.1rem;
    margin: 2rem;
  }

  header {
    font-size: 0.5rem;
  }
  .nav-link,
  .current {
    font-size: 3vw;
  }
  nav {
    margin-bottom: 0;
  }
  main {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
